# Sklearn ColumnTransformer

In [52]:
import pandas as pd
from sklearn.compose import ColumnTransformer

In [53]:
# import dataset
data = pd.read_csv('../Data/loan_train.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [54]:
# rows having null values removed for simplicity purpose
data.dropna(inplace = True)

In [55]:
# Dependent and independent variables
X = data.drop('Loan_Status', axis = 1)
y = data['Loan_Status']

In [56]:
# Apply StandardScalar transformation to numeric features
# Apply OneHotEncoder transformation to categorical features

from sklearn.preprocessing import StandardScaler, OneHotEncoder

transformers = [("num", StandardScaler(), ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']),
               ("cat", OneHotEncoder(handle_unknown='ignore'), ['Gender', 'Married', 'Self_Employed', 'Property_Area'])]

transformer = ColumnTransformer(transformers = transformers)

In [57]:
X = transformer.fit_transform(X)
X[0]

C:\Users\ram\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\ram\Anaconda3\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

array([-0.13796959, -0.02795204, -0.20808917,  0.        ,  1.        ,
        0.        ,  1.        ,  1.        ,  0.        ,  1.        ,
        0.        ,  0.        ])